
{% extends 'base.html.twig' %}

{% block title %}Communauté et Forum{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/forum.css') }}">

{% endblock %}

{% block body %}
    <body class="home">
        <div class="container">
            <h1>Bienvenue dans notre communauté!</h1>
            <p>Ce forum est l'endroit idéal pour discuter des questions environnementales, partager des idées et participer à des initiatives éco-responsables.</p>

            <h2>Dernières Discussions</h2>
            <ul>
                {% for post in posts %}
                    <li class="block">
                        <a href="{{ path('app_forum_show_post_details', {'id': post.id}) }}">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {# <h2>Prochains Événements</h2>
            <ul>
                <li><a href="#">Nettoyage communautaire le samedi 15 mars</a></li>
                <li><a href="#">Atelier de compostage le jeudi 20 mars</a></li>
            </ul> #}

 {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <a href="{{ path('app_forum_create_post') }}" class="btn">Créer une Nouvelle Discussion</a>
             {% endif %}
        </div>
    </body>
{% endblock %}
