{% extends 'base.html.twig' %}

{% block title %}Détails du Post{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        h2 {
            font-size: 20px;
            margin-top: 20px;
        }

        #comments-container {
            margin-top: 10px;
        }

        .comment {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .comment-info {
            flex: 1;
            font-size: 14px;
            color: #888;
        }

        .comment-content {
         flex: 3;
        font-size: 16px;
        margin-left: 10px;
        word-wrap: break-word;
      background-color: #f0f0f030; /* Задаем фон для поля ввода комментария */
        border-radius: 5px; /* Закругляем углы */
        padding: 8px; /* Добавляем отступы внутри блока */
        }

        .comment p {
            margin: 0;
        }

        .comment-form {
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
        }

        .comment-content-input {
            width: 98%;
            padding: 8px;
            font-size: 14px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
           background-color: #f0f0f030;
        }

        .comment-submit-btn {
            padding: 8px 16px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .comment-submit-btn:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ post.id }} {{ post.title }}</h1>
        <p>{{ post.text | raw }}</p>

        <h2>Commentaires</h2>

        <div id="comments-container">
            {% for comment in post.comments %}
                <div class="comment">
                    <div class="comment-info">
                        <p>
                            <strong>{{ comment.user.name }}</strong> - {{ comment.createdAt | date }}
                        </p>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="comment-form">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(commentForm) }}
                    {{ form_row(commentForm.text, {'attr': {'class': 'comment-content-input'}}) }}
                    {{ form_row(commentForm._token) }}
                    <button type="submit" class="comment-submit-btn">Ajouter</button>
                {{ form_end(commentForm) }}
            {% endif %}
        </div>
    </div>
    <script>
 document.addEventListener('DOMContentLoaded', function() {
        const commentForm = document.querySelector('#commentForm');

        commentForm.addEventListener('submit', function() {
            const commentContent = document.querySelector('#forum_comment_text');
            commentContent.value = ''; // Очистка содержимого поля
        });
    });
</script>
{% endblock %}
